.add-product[data-v-d34a09c5]{min-width:90svw}.product-card .card-title[data-v-49e810dd]{font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.product-card .old-price[data-v-49e810dd]{text-decoration:line-through}
