.add-product[data-v-3af76f8b]{min-width:90svw}.product-card .card-title[data-v-219dcff6]{font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.product-card .old-price[data-v-219dcff6]{text-decoration:line-through}
