.add-product[data-v-15064176]{min-width:90svw}.product-card .card-title[data-v-7664828e]{font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.product-card .old-price[data-v-7664828e]{text-decoration:line-through}
