.add-product[data-v-3a03af60]{min-width:90svw}.product-card .card-title[data-v-5cbc2935]{font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.product-card .old-price[data-v-5cbc2935]{text-decoration:line-through}
