body.body--light {
  --subtitle-text: #26a69a;
}

body.body--dark {
  --subtitle-text: #152229;
}

.bg-header {
  background-color: var(--subtitle-text);
}

.radius-16 {
  border-radius: 16px;
}

.radius-8 {
  border-radius: 8px;
}
