body.body--light {
  --subtitle-text: #26a69a;
  --basic-green: #00a63e;
  --light-gray: #6a7282;
  --light-red: #ef7e7ede;
  --bg-light-gray: #f2f3f5;
}

body.body--dark {
  --subtitle-text: #152229;
  --basic-green: #00a63e;
  --light-gray: #6a7282;
  --light-red: #ef7e7ede;
  --bg-light-gray: #000000;
}

.text-basic-green {
  color: var(--basic-green);
}
.text-light-gray {
  color: var(--light-gray);
}
.text-light-red {
  color: var(--light-red);
}
.bg-light-gray {
  background: var(--bg-light-gray);
}
.text-size-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-10 {
  font-size: 10px;
}

.border-top {
  border-top: 1px solid var(--light-gray);
}

.border-bot {
  border-bottom: 1px solid var(--light-gray);
}

.radius-16 {
  border-radius: 16px;
}
.radius-100 {
  border-radius: 100%;
}

.radius-8 {
  border-radius: 8px;
}

h6 {
  margin: 0;
  padding: 0;
}
